body{
    margin: 0;
    background-color: rgb(235, 232, 232);
    font-family: 'Newsreader', serif;
    color: rgb(27, 27, 27);
}

#main-header{
    background: linear-gradient(70deg, rgb(70, 70, 242), rgb(110, 110, 241));
    color: white;
    padding: 0.5rem 5%;
    text-align: center;
}

.btn{
    background-color: rgb(110, 110, 241);
    border-color: rgb(110, 112, 241);
    color: white;
    border-radius: 8px;
    padding: 0.3rem 0.5rem;
}

.alternative-btn{
    background-color: rgb(182, 182, 239);
    border-color: transparent;
    color: rgb(27, 27, 27);   
}

.btn:hover{
    background-color:  rgb(127, 127, 233);
    box-shadow: 1px 1px 2px rgb(27, 27, 27);
}

.alternative-btn:hover{
    background-color: rgb(199, 199, 238);
    border-color: rgb(178, 178, 235);
    border-width: 0.15rem;

}