#game-configuration{  
    display: flex;
    flex-flow: row;
    justify-content: center;
}

#player1-container,
#player2-container{
    background-color: rgb(241, 245, 245);
    margin: 0rem 1rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 20rem;
}