#game-execution{
    width: 90%;
    margin: 2rem auto;
    text-align: center;
}

#start-game{
    padding: 1.5rem;
    border-radius: 20rem;
    font-size: 1.2rem;
    font-weight: 700;
    text-shadow: 1px 1px 2px rgb(27, 27, 27);
}

#start-game:hover{
    background-color: rgb(152, 228, 40);
}